/* @font-face {
    font-family: 'Thin';
    src: url('./../fonts/Intro Cond Light Free.otf');
}
@font-face {
    font-family: 'Bold';
    src: url('./../fonts/Intro Cond Black Free.otf');
}
*/
/* @font-face {
    font-family: 'Regular';
    src: url('./../fonts/Fontfabric - Intro-Black.otf');
}  */


@font-face {
    font-family: 'RegularAlt';
    src: url('./../fonts/Fontfabric - IntroRegularAlt.otf');
}
@font-face {
    font-family: 'Caps';
    src: url('./../fonts/Fontfabric - IntroRegularCaps.otf');
}
@font-face {
    font-family: 'Italic';
    src: url('./../fonts/Fontfabric - IntroRegularItalic.otf');
}
@font-face {
    font-family: 'Regular';
    src: url('./../fonts/Fontfabric - IntroRegular.otf');
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #f2f3f7;
  font-size: 12px;
  font-family: 'Regular';
  overflow: visible;
}

p{
  font-family: 'Regular';
}

*:focus {
    outline: none;
}

input[type=text],input[type=password] {
  width: 100%;
  -webkit-box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 13px 10px 13px 10px;
}

textarea{
  resize: none;
  background: center center no-repeat;
  border: 1px solid #ccc;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 13px 10px 13px 10px;
}

::placeholder {
  color: lightgrey;
}

.center{
  text-align: center;
}

/*  new css for diff screens*/
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

/* all from signin */

.container-white-zig-zag {
    padding: 0px 0px 32px 0px;
    background-color: none;
}

.container-white-zig-zag:after {
    background: linear-gradient(-45deg, white 16px, transparent 0), linear-gradient(45deg, white 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 43px;
    bottom: 0px;
    border-bottom: 30px solid white;
  }


.pt-26{
  font-size: 26pt;
}

.length{
  width: 50%;
  margin-top: -10px;
  margin-bottom: 20px;
}

.line {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #7e7e7e;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.or-span {
    background:#f2f3f7;
    padding:0 10px;
}

.sign-in-form{
  width: 25%;
  margin-left: 35%;
  margin-top: 100px;
}

#facebook-login{
  background-color: #3b5998;
  padding: 14px 16px;
  color: white;
  width: 100%;
  border-style: none;
  margin-top: 20px;
}

.display-block{
  display: block;
  margin-top: 25px;
}

.sign-in-button{
  padding: 14px 16px;
  border-style: none;
  width: 70%;
  margin-left: 15%;
  margin-top: 40px;
}

.input-sign-in{
  width: 100%;
  border-radius: 0;
}

@media (max-width: 768px) {
  .sign-in-form{
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
  }

  #facebook-login {
    margin-top: 20px;
  }
}
