/* @font-face {
    font-family: 'Thin';
    src: url('./../fonts/Intro Cond Light Free.otf');
}
@font-face {
    font-family: 'Bold';
    src: url('./../fonts/Intro Cond Black Free.otf');
}
*/
/* @font-face {
    font-family: 'Regular';
    src: url('./../fonts/Fontfabric - Intro-Black.otf');
}  */


@font-face {
    font-family: 'RegularAlt';
    src: url('./../fonts/Fontfabric - IntroRegularAlt.otf');
}
@font-face {
    font-family: 'Caps';
    src: url('./../fonts/Fontfabric - IntroRegularCaps.otf');
}
@font-face {
    font-family: 'Italic';
    src: url('./../fonts/Fontfabric - IntroRegularItalic.otf');
}
@font-face {
    font-family: 'Regular';
    src: url('./../fonts/Fontfabric - IntroRegular.otf');
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #f2f3f7;
  font-size: 12px;
  font-family: 'Regular';

}

p{
  font-family: 'Regular';
}

*:focus {
    outline: none;
}

input[type=text],input[type=password] {
  width: 100%;
  -webkit-box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 13px 10px 13px 10px;
}

textarea{
  resize: none;
  background: center center no-repeat;
  border: 1px solid #ccc;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 13px 10px 13px 10px;
}

::placeholder {
  color: lightgrey;
}

.center{
  text-align: center;
}

/*  new css for diff screens*/
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
