.container-white-zig-zag {
    padding: 0px 0px 32px 0px;
    background-color: none;
}

.container-white-zig-zag:after {
    background: linear-gradient(-45deg, white 16px, transparent 0), linear-gradient(45deg, white 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 43px;
    bottom: 0px;
    border-bottom: 30px solid white;
    }

.background-white-dog{
  float: left;
  width: 100%;
  background: transparent url("../img/white-dog.png") top left repeat;
}

.padding-faq{
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 33pt;
  width: 20%;
}
