.ul-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.li-style-r {
    float: right;
}

.ul-style-r {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.li-style {
    float: left;
}

.ul-style-r li a {
    display: block;
    text-align: center;
    padding: 0px 2px;
  }

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #7e7e7e;
}

.width-90{
  width: 90%;
  background-color: white;
  margin-left: 5%;
}

.icon{
  width: 80%;
}

@media (max-width: 768px) {
  li a {
      display: block;
      text-align: center;
      /* margin: 14px 6px; */
      padding: 14px 6px;
      text-decoration: none;
      color: #7e7e7e;
      text-align: left;

  }

  .footer {
    height: 247px;
  }

  .float-right{
    float: right;
  }

  .float-right-footer {
    float: left;
    display: flex;
    flex-wrap: wrap;
  }

  .ul-style {
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .li-style {
    flex-basis: 20%;
    width: 150px;
  }

  .wider a {
    width: 150px;
  }

  .smaller {
    font-size: 10px;
  }

  .smaller a {
    max-width: 100px;
    font-family: 'Regular';
  }
}
