

.ul-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.li-style {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #7e7e7e;
}

.width-90{
  width: 90%;
  background-color: white;
  margin-left: 5%;
}

@media (max-width: 768px) {
  li a {
      display: block;
      text-align: center;
      padding: 14px 16px;
      /* padding: 14px 16px; */
      text-decoration: none;
      color: #7e7e7e;
  }
}
