.font-40pt{
  font-size: 40pt;
}

.width-35{
  width: 37%;
}

.top-100{
  margin-top: 100px;
}

.bold{
  font-weight: bold;
}

.font-16{
  font-size: 16pt;
}

.no-border{
  border-style: none;
}

.continue-button{
  padding: 17px 55px;
  font-size: 12pt;
  font-weight: bold;
  margin-top: 30px;
}

.styled select {
  background: transparent;
  background-image: none;
  width: 150px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
}
