.content{
  width: 1024px;
  margin: 0 auto;
}

.logo{
    min-width: 50px;
    padding: 15px;
}

.header{
  overflow: hidden;
  position: relative;
  top: 20px;
}

.float-left{
  float: left;
  width: 50%;
}

.float-right{
  float: right;
}

.orange{
  background-color: #f08e30;
}

.orange-font{
  color: #f08e30;
}

.white{
  background-color: white;
}

.white-font{
  color: white;
}

.grey-font{
  color: #7e7e7e;
}

.underline{
  text-decoration: underline;
}

.sign-in-icon{
  background: transparent url("../img/repeated/sign_in_logo.png") top left no-repeat;
  height: 31px;
  padding-top: 11px;
  padding-left: 37px;
  display: inline-block;
  margin-top: 20px;
}

.book-button{
  padding: 14px 16px;
  margin: 18px;
  border-style: none;
}

.book-button-mobile {
    padding: 14px 16px;
    margin: 18px;
    background: transparent;
    border: 2px solid #f08e30;
}

.book-button-mobile {
  display: none;
}

@media (max-width: 768px) {
  .content {
    width: 96%;
    padding: 0 2% 0 2%;
  }

  .book-button {
    display: none;
  }

  .book-button-mobile {
    padding: 14px 16px;
    margin: 18px;
    background: transparent;
    border: 2px solid #f08e30;
    display: inline-block;
  }

  .float-left{
    float: left;
    width: 60%;
  }

  .float-right{
    float: right;
  }

/* hiding sign-in until we build hamburger menu */
  .sign-in-icon{
    display: none;
  }
}
