.font-40pt{
  font-size: 40pt;
}

.width-35{
  width: 37%;
}

.top-100{
  margin-top: 100px;
}

.bold{
  font-weight: bold;
}

.font-16{
  font-size: 16pt;
}

.no-border{
  border-style: none;
}

.continue-button{
  padding: 17px 55px;
  font-size: 12pt;
  font-weight: bold;
  margin-top: 30px;
}

.styled select {
  background: transparent;
  background-image: none;
  width: 150px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
}

/* slide 1 */
.pug-background{
  background-image: url("../img/homepage/pug.png");
  background-repeat: no-repeat;
  height: 725px;
  background-size: contain;
  background-position-y: top;
}


.styled {
    width: 60px;
    height: 35px;
    margin-left: 10px;
    overflow: hidden;
    /* background: url('/Users/yuliya/bark-frontend/barkdoc-fronend/src/img/repeated/arrow_down_select.png') 96% / 20% no-repeat #eee; */
}

.margin-top-20{
  margin-top: 20px;
}

.margin-top-16{
  margin-top: 16px;
}

/*  zig zag*/
.container-zig-zag {
    position: relative;
    padding: 0px 0px 32px 0px;
    background-color: white;
}

.container-zig-zag:after {
    background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 31px;
    left: 0px;
    width: 100%;
    height: 32px;
}

/* zig zag end */
/* slide 2 */
.length-11{
  width: 11%;
}

.column {
    float: left;
    width: 33%;
    text-align: center;
    margin-top: 25px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.icon-house{
  width: 25%;
}

.icon-dog-zzz{
  width: 37%;
}
.icon-jar{
  width: 21%;
}

.width-40{
  width: 40%;
}

.margin-left-30{
  margin-left: 30%;
}

.schedule-appt{
  padding: 17px 19px;
  margin: 20px;
  border-style: none;
}

.margin-41{
  margin-left: 41%;
  margin-bottom: 60px;
}
/* slide 3 */

.brown{
  background-color: #79312e;
}

.light-pink-font{
  color: #dbc1c0;
}

.font-11pt{
  font-size: 11pt;
}

.container-brown-zig-zag {
    position: relative;
    padding: 0px 0px 32px 0px;
    background-color: white;
}

.container-brown-zig-zag:after {
    background: linear-gradient(-45deg, #79312e 16px, transparent 0), linear-gradient(45deg, #79312e 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

.center.white-font.pt-26.bold {
    padding-top: 60px;
}

.margin-left-44{
  margin-left: 44.5%;
}

.button-meet-our-vets{
    padding: 17px 19px;
    border-style: none;
}

.length-40{
  width: 40%;
}

.column-review {
  float: left;
  width: 20%;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 25px;
}

.quotes{
  display: inline-block;
}

img.column-review{
  width: 10%;
}

.midle-width{
  width: 27%;
  margin-left:36.5%;
  margin-top: 55px;
}

.button-make-at-home{
  padding: 16px 16px;
  border-style: none;
  width: 20%;
  margin-left: 40%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container-review-zig-zag {
    position: relative;
    padding: 0px 0px 32px 0px;
    background-color: white;
}

.container-review-zig-zag:after {
    background: linear-gradient(-45deg, #f2f3f7 16px, transparent 0), linear-gradient(45deg, #f2f3f7 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}
