.font-40pt{
  font-size: 40pt;
}

/* .font-40pt{
  font-size: 42pt;
} */

.width-35{
  width: 37%;
}

.width-45{
  width: 45%;
}

.width-50{
  width: 50%;
}

.top-100{
  margin-top: 100px;
}

.bold{
  font-weight: bold;
}

.font-16{
  font-size: 16pt;
}

.no-border{
  border-style: none;
}

.continue-button {
  width: 250px !important;
  height: 70px;
  padding: 20px 25px;
  font-size: 12pt;
  font-weight: bold;
  margin-top: 50px;
}

/* .styled select {
  background: transparent;
  background-image: none;
  width: 200px;
  font-size: 20px;
  border: 1px solid #ccc;
  height: 34px;
} */

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100px;
}

.select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 18px 15px;
        outline: 0;
        border: none;
        border-radius: 0px;
        background: #ffffff;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
  }

.select select::-ms-expand {
      display: none;
  }

.select select:hover,
.select select:focus {
      color: gray;
      background: lightgray;
  }

.select select:disabled {
      opacity: 0.5;
      pointer-events: none;
  }

.select_arrow {
  margin-top: 18px;
  /* margin-left: 5px; */
    position: absolute;
    top: 16px;
    right: 10px;
    width: 0px;
    height: 0px;
    border: solid orange;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: orange;
}

.select select:disabled ~ .select_arrow {
    border-top-color: #CCCCCC;
}

/* slide 1 */
.pug-background{
  background: url("../img/homepage/pug-longer.png")no-repeat center center fixed;
  /* background-repeat: no-repeat; */
  height: 725px;
  /* background-size: contain; */
  background-position-y: top;
}


/* .styled {
    width: 60px;
    height: 35px;
    margin-left: 5px;
    overflow: hidden;
} */

.margin-top-20{
  margin-top: 20px;
}

.margin-top-16{
  margin-top: 16px;
}

/*  zig zag*/
.container-zig-zag {
    position: relative;
    padding: 0px 0px 32px 0px;
    background-color: white;
}

.container-zig-zag:after {
    background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 31px;
    left: 0px;
    width: 100%;
    height: 32px;
}

/* zig zag end */
/* slide 2 */
.length-11{
  width: 11%;
}

.column {
    float: left;
    width: 33%;
    text-align: center;
    margin-top: 25px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.icon-house{
  width: 25%;
}

.icon-dog-zzz{
  width: 37%;
}
.icon-jar{
  width: 21%;
}

.width-40{
  width: 40%;
}

.margin-left-30{
  margin-left: 30%;
}

.schedule-appt{
  padding: 17px 19px;
  margin: 20px;
  border-style: none;
}

.margin-41{
  margin-left: 41%;
  margin-bottom: 60px;
}
/* slide 3 */

.brown{
  background-color: #79312e;
}

.light-pink-font{
  color: #dbc1c0;
}

.font-11pt{
  font-size: 11pt;
}

.container-brown-zig-zag {
    position: relative;
    padding: 0px 0px 32px 0px;
    background-color: white;
}

.container-brown-zig-zag:after {
    background: linear-gradient(-45deg, #79312e 16px, transparent 0), linear-gradient(45deg, #79312e 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

.center.white-font.pt-26.bold {
    padding-top: 60px;
}

.margin-left-44{
  margin-left: 44.5%;
}

.button-meet-our-vets{
    padding: 17px 19px;
    border-style: none;
}

.length-40{
  width: 40%;
}

.column-review {
  float: left;
  width: 20%;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 25px;
}

.quotes{
  display: inline-block;
}

img.column-review{
  width: 10%;
}

.midle-width{
  width: 27%;
  margin-left:36.5%;
  margin-top: 55px;
}

.button-make-at-home{
  padding: 16px 16px;
  border-style: none;
  width: 20%;
  margin-left: 40%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container-review-zig-zag {
    position: relative;
    padding: 0px 0px 32px 0px;
    background-color: white;
}

.container-review-zig-zag:after {
    background: linear-gradient(-45deg, #f2f3f7 16px, transparent 0), linear-gradient(45deg, #f2f3f7 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

.padding-10 {
  width: 320px;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .pug-background{
    background-image: url("../img/homepage/pug.png");
    background-repeat: no-repeat;
    height: 600px;
    /* width: 100%; */
    background-size: cover;
    /* background-position-y: top; */
  }

  .float-left {
    width: 55%;
  }

  .width-45 {
    width: 90%;
  }

  .width-50 {
    width: 90%;
  }

  .font-40pt {
    font-size: 25pt;
    margin-left: 20px;
  }

  .width-35 {
    width: 90%;
  }

  .font-16 {
    margin-left: 20px;
    font-size: 12pt;
  }

  .margin-left-44{
    margin-left: 30%;
  }

  .continue-button {
    width: 60% !important;
    margin-left: 20px;
  }

  .select {
    /* margin-left: 20px; */
    /* margin-top: -20px; */
    /* border: 1px solid #f08e30; */
    width: 60px;
  }

  .styled {
    /* margin-left: 20px; */
    /* margin-top: 0; */
    border: 1px solid #f08e30;
    width: 60px;
  }

  .column {
      width: 90%;
      margin-left: 5%;
      text-align: center;
      margin-top: 25px;
  }

  .margin-41 {
    margin-left: 10%;
    width: 80%;
  }

  .width-40 {
    margin-left: 10%;
    width: 80%;
    font-size: 12pt;
  }

  h3 {
    font-size: 14pt;
  }

  .column-review {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    float: left;
    width: 80%;
    padding-left: 10%;
    /* padding-right: 15%; */
    margin-top: 25px;
  }

  .profile-image {
    margin: -80px 55% -20px;
  }

  .review-name {
    order: -1;
  }

  /* .margin-left-30 {
    margin-left: 50%;
  } */

  .midle-width {
    width: 80%;
    margin-left: 10%;
  }

  .button-make-at-home {
    width: 70%;
    margin-left: 15%;
  }

  .button-meet-our-vets{
      width: 40%;
      padding: 17px 0;;
      border-style: none;
  }

  .padding-10 {
    padding-top: 5px;
    width: 230px;
  }
}
