.overlay-popup{
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  background-image: url("../img/dog-swing.png");
  min-height: 793px;
}

.logo-white{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 40px;
}

.continue-button{
  padding: 14px 40px;
  border-style: none;
  font-size: 14pt;
}
