
.container-white-zig-zag {
    padding: 0px 0px 32px 0px;
    background-color: none;
}

.container-white-zig-zag:after {
    background: linear-gradient(-45deg, white 16px, transparent 0), linear-gradient(45deg, white 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 43px;
    bottom: 0px;
    border-bottom: 30px solid white;
    }


.pt-26{
  font-size: 26pt;
}

.length{
  width: 35%;
}

.line {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #7e7e7e;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.or-span {
    background:#f2f3f7;
    padding:0 10px;
}

.sign-in-form{
  width: 25%;
  margin-left: 35%;
}

#facebook-login{
  background-color: #3b5998;
  padding: 14px 16px;
  color: white;
  width: 100%;
  border-style: none;
}



.display-block{
  display: block;
  margin-top: 25px;
}

.sign-in-button{
  padding: 14px 16px;
  border-style: none;
  width: 50%;
  margin-left: 25%;
}

.input-sign-in{
  width: 100%;
}
