
.background-cat{
  position: absolute;
  float: left;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  right: 0;
  background: transparent url("../img/cat_background.png") top left no-repeat;
}

.testimonials-content {
  position: relative;
  margin-top: 330px;
  padding-top: 50px;
}

.container-testimonials-zig-zag {
    /* position: relative; */
    padding: 0px 0px 32px 0px;
    background-color: white;
}

.container-testimonials-zig-zag:after {
    background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

.pt-30{
  font-size: 30pt;
}

.margin-30{
  margin-left: 30%;
}

.width-22{
  width: 22%;
}

.margin-39{
  margin-left: 39%;
}

.background-bookings{
  position: absolute;
  float: left;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: transparent url("../img/booking_dog.png") top left no-repeat;
}

.white a {
  text-decoration: none;
}

.column-review {
  text-align: center;
}

.quote-row {
  display: flex;
}

.quotes {
  width: 25px;
  height: 20px;
}

.name-row {
  text-align: center;
  width: 90%;
  margin-left: 10%;
}


@media (max-width: 768px) {
  .width-40 {
    width: 90%;
  }

  .margin-30 {
    margin-left: 5%
  }

  .width-22 {
    width: 80%;
  }

  .margin-39 {
    margin-left: 10%
  }

  .background-cat {
    height: 200px;
  }

  .column-review {
    margin-left: -5%;
  }

  .testimonials-content {
    margin-top: 230px;
  }
}
