.vet-content {
  position: relative;
  margin-top: 260px;
  padding-top: 20px;
}
/* .styled-select select {
  background: transparent;
  background-image: none;
  width: 250px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 0px !important;
  height: 34px;
}
.styled-select {
    width: 300px;
    height: 35px;
    overflow: hidden;



    background: url(/Users/yuliya/bark-frontend/barkdoc-fronend/src/img/repeated/arrow_down_select.png) 96% / 20% no-repeat #eee;
} */

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 275px;
}

.select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 12px 15px;
        outline: 0;
        border: 1px solid #ccc;
        border-radius: 0px;
        background: #ffffff;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
  }

.select select::-ms-expand {
      display: none;
  }

.select select:hover,
.select select:focus {
      color: gray;
      background: lightgray;
  }

.select select:disabled {
      opacity: 0.5;
      pointer-events: none;
  }

.select_arrow {
  margin-top: -3px;
  /* margin-left: 5px; */
    position: absolute;
    top: 16px;
    right: 10px;
    width: 0px;
    height: 0px;
    border: solid orange;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: orange;
}

.select select:disabled ~ .select_arrow {
    border-top-color: #CCCCCC;
}


.column-65 {
  float: left;
  width: 65%;
}
.column-20 {
  float: left;
  width: 20%;
  margin-left: 10%;
}

.margin-top-60{
  margin-top: 60px;
}

.column-45 {
    float: left;
    width: 45%;
    margin-top: 25px;
}
/* vet Card */

.extralight-grey{
  background-color: #f9f9f9;
}

.extralight-grey:hover,
.extralight-grey:active,
.extralight-grey:focus {
  box-shadow: -3px 5px 15px 8px rgba(0,0,0,0.1);
}

.extralight-grey:hover > .grey,
.extralight-grey:active > .grey,
.extralight-grey:focus > .grey {
  background-color: #f08e30;
  border-color: #f08e30;
  color: white;
}

.extralight-grey:hover > .white,
.extralight-grey:active > .white,
.extralight-grey:focus > .white {
  background-color: white;
  border-color: #f08e30;
  color: #f08e30;
}

.vet-card-btn{
  padding: 14px 16px;
  margin: 18px;
  border-style: none;
  width: 160px;
  border: 2px solid #cccccc;
}

.grey{
  background-color: #cccccc;
}

.column-70 {
    float: left;
    width: 70%;
}

.doc-img{
  width: 170px;
  height: 170px;
  margin: 25px;
}

.margin-top-40{
  margin-top: 40px;
}
