.background-vet-background{
  float: left;
  width: 100%;
  background: transparent url("../img/vet-background.png") top left no-repeat;
}

.column-33{
  float: left;
  width: 33%;
}
.column-34{
  float: left;
  width: 34%;
}
.column-30{
  float: left;
  width: 30%;
}

.circle-img{
  border-radius: 50%;
  border: 4px solid #ebebeb;
  width: 20%;
}
