.background-vet-background{
  float: left;
  width: 100%;
  background: transparent url("../img/vet-background.png") top left no-repeat;
}

.column-33{
  float: left;
  width: 33%;
}
.column-34{
  float: left;
  width: 34%;
}
.column-30{
  float: left;
  width: 30%;
}

.circle-img{
  border-radius: 50%;
  border: 4px solid #ebebeb;
  width: 20%;
}

.stars{
  width: 70px;
  padding-right: 10px;
}

.col-width-70{
  width: 70%;
}

.pt-12{
  font-size: 12px;
}

.col-55{
  float: left;
  width: 55%;
}
.col-45{
  float: left;
  width: 45%;
}

.quote-size{
  width: 10%;
  float: left;
}

.book-now-btn{
  padding: 14px 40px;
  border-style: none;
  font-size: 15pt;
  width: 34%;
  margin-top: 60px;
  margin-bottom: 100px;
}
