.background-pet-pattern{
  position: absolute;
  float: left;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: transparent url("../img/about/pet_pattern.png") top left repeat;
  height: 280px;
}

.about {
  margin-left: 15%;
}

.about-content {
  position: relative;
  margin-top: 280px;
  padding-top: 50px;
}

.container-about-zig-zag {
    padding: 0px 0px 32px 0px;
    background-color: none;
}

.container-about-zig-zag:after {
    background: linear-gradient(-45deg, white 16px, transparent 0), linear-gradient(45deg, white 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 43px;
    bottom: 0px;
    border-bottom: 30px solid white;
  }

.container-pattern-zig-zag {
    position: relative;
    padding: 0px 0px 32px 0px;
    background-color: white;
}

.container-pattern-zig-zag:after {
    background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

.column-about {
    float: left;
    width: 62%;
    margin-top: 25px;
}
.column-shana-img {
    float: left;
    width: 35%;
    margin-top: 25px;
}

.length-25{
  width: 25%;
}

.shana-img{
  width: 99%
}

.B-float{
  float: left;
  width: 10%;
  padding-right: 7px;
}

.padding-right-20{
  padding-right: 20px;
}

.width-54{
  width: 54%;
}

.container-grey-zig-zag {
    position: relative;
    padding: 0px 0px 32px 0px;
    background-color: #f2f3f7;
}

.container-grey-zig-zag:after {
    background: linear-gradient(-45deg, #f2f3f7 16px, transparent 0), linear-gradient(45deg, #f2f3f7 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    height: 32px;
}

.margin-left-37{
  margin-left: 37.5%;
}

.width-25{
  width: 25%;
}

.margin-right-10px{
  margin-right: 10px;
}

.founder {
  margin-top: 40px;
}

.services-desktop {
  display: block;
  z-index: -2;
  height: 440px;
}

.services-mobile {
  display: none;
}

.columns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.col-left {
  margin-left: 10%;
}

.col-right {
  margin-left: 5%;
}

.col-left p {
  text-align: left;
}

.col-right p {
  text-align: left;
}


/* larger than mobile - stubborn elements that won't resize  */
@media(min-width: 769px) {
  .padding-about{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 33pt;
    background: transparent url("../img/about/about-background.png") top left no-repeat;
    width: 20%;
  }
}

/* mobile media query */
@media (max-width: 768px) {
  .flexing {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .background-pet-pattern {
    height: 225px;
  }

  .about {
    margin-left: 5%;
    font-size: 26px;
  }

  .about-content {
    padding-top: 10px;
    margin-top: 225px;
  }

  .padding-about{
    padding-top: 30px;
    font-size: 22pt;
    width: 90%;
  }

  .column-about {
      width: 90%;
      margin: 0 5%;
      /* margin-top: 25px; */
  }

  .column-shana-img {
      float: left;
      width: 60%;
      margin: 25px 20% 0;
      margin-top: 25px;
  }

  .padding-right-20{
    padding-right: 0;
  }

  /* .founder {
    width: 80%;
    margin-top: 50px;
    text-align: center;
  } */

  .pt-26 {
    font-size: 22pt;
  }

  .width-54{
    width: 100%;
  }

  .margin-left-37 {
    margin-left: 5%;
  }

  .width-25 {
    width: 90%;
  }

  .services-desktop {
    display: none;
  }

  .services-mobile {
    display: block;
    height: 505px;
  }
}
