
.background-three-dog{
  position: absolute;
  float: left;
  width: 100%;
  height: 350px;
  top: 0;
  left: 0;
  right: 0;
  background: transparent url("../img/three-dogs.png") no-repeat top right fixed;
  background-size: contain;
}

/* .container-career-zig-zag {
    padding: 0px 0px 32px 0px;
    background-color: none;
} */

.container-career-zig-zag:after {
    background: linear-gradient(-45deg, white 16px, transparent 0), linear-gradient(45deg, white 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 43px;
    bottom: 0px;
    border-bottom: 30px solid white;
  }

  .careers-content {
    position: relative;
    margin-top: 350px;
    padding-top: 20px;
  }


.padding-career{
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 33pt;
  }

.margin-right-left{
  margin-left: 20%;
  margin-right: 20%;
}

.pt-20{
  font-size: 20pt;
}

.pt-14{
  font-size: 14pt;
}

.margin-20{
  margin: 20px;
}

.margin-top-50 {
  margin: 50px;
}

.margin-top-35 {
  margin-top: 35px;
}

.font-14{
  font-size: 14pt;
}
.font-9{
  font-size: 9pt;
}

.light-grey-font{
  color: #999999;
}

.border-bottom {
  border-bottom: 1px solid lightgray;
}

.button-apply-now-grey{
  background-color: #7e7e7e;
  padding: 16px 16px;
  border-style: none;

}
.button-apply-now-orange{
  background-color: #f08e30;
  padding: 16px 16px;
  border-style: none;
}

.column-job-name {
    margin: 50px 0;
    float: left;
    width: 40%;
}
.column-button {
    float: right;
    width: 25%;
    margin: 40px 0;
}

.margin-top-80px{
  margin-top: 80px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .margin-right-left{
    margin-left: 5%;
    margin-right: 5%;
  }

  .background-three-dog {
    background-size: 210vh;
    /* background-size: 500px 250px; */
    background-position: 55% top;
  }

  .button-apply-now-grey{
    margin-top: 50px;
    width: 40%;
    padding: 16px 0;
  }

  .button-apply-now-orange{
    margin-top: 50px;
    width: 40%;
    padding: 16px 0;
  }
}
