.content-job {
  width: 1024px;
  margin: 0 auto;
}

.margin-top-120px{
  margin-top: 120px;
}

.linked-in-button{
  background-color: #3399cc;
  padding: 16px 16px;
  border-style: none;
}

.content-width-40{
  width: 40%;
  margin-left: 30%;
}

.margin-left-35{
  margin-left: 35%;
}

.input-text-area-91 {
    width: 91%;
}

@media (max-width: 768px) {
  .content-width-40 {
    margin-left: 5%;
    padding-bottom: 30px;
    width: 90%;
  }

  .margin-left-35{
    margin-left: 25%;
    width: 50%;
  }

  .input-text-area-91 {
      width: 86%;
  }

  .content-job {
    width: 90%;
    margin: 0 5%;
  }

  .job-description {
    padding-left: 15px;
  }

  .font-14 {
    font-size: 12pt;
  }
}
