
.logo-white{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 40px;
}

.continue-button-overlay {
  padding: 14px 40px;
  border-style: none;
  font-size: 14pt;
  width: 100%;
}


.location-form h1{
  font-size: 33px;
}

.location-form{
  margin-left: auto;
  margin-right: auto;
  width: 56%;
}

.where-spacing{
  padding: 0px 6px 20px 6px;
}

.form-position{
  padding-top: 230px;
}

.base .shroud {
    background-color:  rgba(0, 0, 0, 0.75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

.base .shroud {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.shroud{
  z-index: 2147483644;
}

.overlay-popup{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  background-image: url("../img/dog-swing.png");
  /* min-height: 793px; */
  z-index: 2147483645;
  /* margin: 0 auto; */
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.overlay-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2147483645;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
 }

.left {
  text-align: left;
}

 /* dropdown */

 .styled-select-location {
     position: relative;
     display: inline-block;
     margin-bottom: 15px;
     width: 100%;
 }

 .styled-select-location select {
         font-family: 'Arial';
         display: inline-block;
         width: 100%;
         cursor: pointer;
         padding: 18px 15px;
         outline: 0;
         border: 1px solid white;
         border-radius: 0px;
         background: #ffffff;
         appearance: none;
         -webkit-appearance: none;
         -moz-appearance: none;
   }

 .styled-select-location select::-ms-expand {
       display: none;
   }

 .styled-select-location select:hover,
 .styled-select-location select:focus {
       color: gray;
       border: 1px solid #f08e30;
       /* background: lightgray; */
   }

 .styled-select-location select:disabled {
       opacity: 0.5;
       pointer-events: none;
   }

 .styled-arrow-overlay {
   margin-top: 0px;
   /* margin-left: 5px; */
     position: absolute;
     top: 16px;
     right: 10px;
     width: 0px;
     height: 0px;
     border: solid orange;
     border-width: 0 3px 3px 0;
     display: inline-block;
     padding: 3px;
     transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
 }

 .styled-select-location select:hover ~ .select_arrow,
 .styled-select-location select:focus ~ .select_arrow {
     border-color: orange;
 }

 .styled-select-location select:disabled ~ .select_arrow {
     border-top-color: #CCCCCC;
 }


 @media (max-width: 768px) {
   .overlay-popup {
     width: 80%;
   }

   .location-form{
     /* margin-left: auto; */
     /* margin-right: auto; */
     width: 90%;
   }

   .form-position {
     padding-top: 140px;
   }
 }
