.background-vet-background{
  float: left;
  width: 100%;
  background: transparent url("../img/vet-background.png") top left no-repeat;
  height: 250px;
}

.white-font-profile {
  color: white;
}

.profile-info {
  /* background-color: lightgray; */
  display: inline-block;
  margin-top: -130px;
  position: absolute;
}

.profile-info-l {
  float: left;
  position: absolute;
}

.profile-info-l img {
  width: 200px;
  height: 200px;
}

.profile-info-r {
  width: 60%;
  margin-left: 250px;
  margin-top: 30px;
  position: absolute;
  /* float: right; */
}

.services {
  position: relative;
  margin-top: 120px;
}

.column-33{
  float: left;
  width: 33%;
}
.column-34{
  float: left;
  width: 34%;
}
.book-now {
  float: left;
  width: 220px;
  /* border: 1px solid lightgray; */
  height: 210px;
  margin-top: 100px;
  margin-left: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: -3px 5px 15px 8px rgba(0,0,0,0.1);
}

.circle-img{
  border-radius: 50%;
  border: 4px solid #ebebeb;
  width: 20%;
}

.stars{
  width: 70px;
  padding-right: 10px;
}

.col-width-70{
  width: 70%;
}

.pt-12{
  font-size: 12px;
}

.col-55{
  float: left;
  width: 55%;
}
.col-45{
  float: left;
  width: 45%;
}

.quote-size{
  width: 10%;
  float: left;
}

.book-now-btn{
  padding: 14px 40px;
  border-style: none;
  font-size: 15pt;
  width: 34%;
  margin-top: 60px;
  margin-bottom: 100px;
}

.book-now-btn-2 {
  padding: 10px 10px;
  border-style: none;
  font-size: 15pt;
  width: 200px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .column-70 {
    width: 90%;
    margin-left: 5%;
  }

  .book-now {
    display: none;
  }

  .book-now-btn{
    width: 90%;
    margin-left: 10%;
    color: white;
  }

  .profile-info {
    width: 90%;
    /* background-color: lightgray; */
    display: inline-block;
    margin-top: -130px;
    height: 300px;
    /* position: absolute; */
  }

  .profile-info-l {
    float: none;
    position: absolute;
  }

  .profile-info-r {
    width: 100%;
    margin-left: 0;
    color: gray;
    margin-top: 200px;
    position: absolute;
    /* float: right; */
  }

  .white-font-profile {
    color: gray;
  }

  .profile-info-l img {
    width: 50%;
    height: 50%;
    margin-left: 25%;
  }

  .services {
    margin-top: 200px;
  }
}
