body {
  margin: 0;
  padding: 0;
  background-color: #f2f3f7;
  font-size: 12px;

}

*:focus {
    outline: none;
}

input[type=text],input[type=password] {
  width: 100%;
  -webkit-box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 13px 10px 13px 10px;
}

/* header/menu */
.content{
  width: 90%;
  margin-left: 5%;
}

.logo{
  width: 70%;
}

.header{
  overflow: hidden;
  margin-top: 20px;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.orange{
  background-color: #f08e30;
}
.white{
  background-color: white;
}

.white-font{
  color: white;
}

.grey-font{
  color: #7e7e7e;
}

.underline{
  text-decoration: underline;
}

.sign-in-icon{
  background: transparent url("./img/repeated/sign_in_logo.png") top left no-repeat;
  height: 31px;
  padding-top: 11px;
  padding-left: 37px;
  display: inline-block;
  margin-top: 20px;
}

.book-button{
  padding: 14px 16px;
  margin: 18px;
  border-style: none;

}


/* sign in */
.center{
  text-align: center;
}

.pt-26{
  font-size: 26pt;
}

.length{
  width: 35%;
}

.line {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #7e7e7e;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.or-span {
    background:#f2f3f7;
    padding:0 10px;
}

.sign-in-form{
  width: 25%;
  margin-left: 35%;
}

#facebook-login{
  background-color: #3b5998;
  padding: 14px 16px;
  color: white;
  width: 100%;
  border-style: none;
}

.dog-bottom-img{
  width: 70%;
  margin-left: 15%;
  padding-top: 10%;
}

.display-block{
  display: block;
  margin-top: 25px;
}

.sign-in-button{
  padding: 14px 16px;
  border-style: none;
  width: 50%;
  margin-left: 25%;
}

.input-sign-in{
  width: 100%;
}
