body {
  margin: 0;
  padding: 0;
  background-color: #f2f3f7;
  font-size: 12px;

}

*:focus {
    outline: none;
}

input[type=text],input[type=password] {
  width: 100%;
  -webkit-box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 13px 10px 13px 10px;
}

textarea{
  resize: none;
  background: center center no-repeat;
  border: 1px solid #ccc;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 13px 10px 13px 10px;

}

/* header/menu */
.content{
  width: 90%;
  margin-left: 5%;
}

.logo{
  width: 70%;
}

.header{
  overflow: hidden;
  position: relative;
  top: 20px;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.orange{
  background-color: #f08e30;
}

.orange-font{
  color: #f08e30;
}

.white{
  background-color: white;
}

.white-font{
  color: white;
}

.grey-font{
  color: #7e7e7e;
}

.underline{
  text-decoration: underline;
}

.sign-in-icon{
  background: transparent url("./img/repeated/sign_in_logo.png") top left no-repeat;
  height: 31px;
  padding-top: 11px;
  padding-left: 37px;
  display: inline-block;
  margin-top: 20px;
}

.book-button{
  padding: 14px 16px;
  margin: 18px;
  border-style: none;

}


/* sign in */
.center{
  text-align: center;
}

.pt-26{
  font-size: 26pt;
}

.length{
  width: 35%;
}

.line {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #7e7e7e;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.or-span {
    background:#f2f3f7;
    padding:0 10px;
}

.sign-in-form{
  width: 25%;
  margin-left: 35%;
}

#facebook-login{
  background-color: #3b5998;
  padding: 14px 16px;
  color: white;
  width: 100%;
  border-style: none;
}

.dog-bottom-img{
  width: 60%;
  margin-left: 20%;
  padding-top: 60px;
}

.display-block{
  display: block;
  margin-top: 25px;
}

.sign-in-button{
  padding: 14px 16px;
  border-style: none;
  width: 50%;
  margin-left: 25%;
}

.input-sign-in{
  width: 100%;
}

/* footer */

.ul-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.li-style {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #7e7e7e;
}

.width-90{
  width: 90%;
  background-color: white;
  margin-left: 5%;
}

/* homepage */
/* slide 1 */
.pug-background{
  background-image: url("./img/homepage/pug.png");
  background-repeat: no-repeat;
  height: 725px;
  background-size: contain;
  background-position-y: top;
}

.font-40pt{
  font-size: 40pt;
}

.width-35{
  width: 37%;
}

.top-100{
  margin-top: 100px;
}

.bold{
  font-weight: bold;
}

.font-16{
  font-size: 16pt;
}

.no-border{
  border-style: none;
}

.continue-button{
  padding: 17px 55px;
  font-size: 12pt;
  font-weight: bold;
  margin-top: 30px;
}

.styled select {
  background: transparent;
  background-image: none;
  width: 150px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
}
.styled {
    width: 60px;
    height: 35px;
    margin-left: 10px;
    overflow: hidden;
    background: url(/Users/yuliya/bark-frontend/barkdoc-fronend/src/img/repeated/arrow_down_select.png) 96% / 20% no-repeat #eee;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-top-16{
  margin-top: 16px;
}

/*  zig zag*/
.container-zig-zag {
    position: relative;
    padding: 0px 0px 32px 0px;
    background-color: white;
}

.container-zig-zag:after {
    background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 31px;
    left: 0px;
    width: 100%;
    height: 32px;
}

/* zig zag end */
/* slide 2 */
.length-11{
  width: 11%;
}

.column {
    float: left;
    width: 33%;
    text-align: center;
    margin-top: 25px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.icon-house{
  width: 25%;
}

.icon-dog-zzz{
  width: 37%;
}
.icon-jar{
  width: 21%;
}

.width-40{
  width: 40%;
}

.margin-left-30{
  margin-left: 30%;
}

.schedule-appt{
  padding: 17px 19px;
  margin: 20px;
  border-style: none;
}

.margin-41{
  margin-left: 41%;
  margin-bottom: 60px;
}
/* slide 3 */

.brown{
  background-color: #79312e;
}

.light-pink-font{
  color: #dbc1c0;
}

.font-11pt{
  font-size: 11pt;
}

.container-brown-zig-zag {
    position: relative;
    padding: 0px 0px 32px 0px;
    background-color: white;
}

.container-brown-zig-zag:after {
    background: linear-gradient(-45deg, #79312e 16px, transparent 0), linear-gradient(45deg, #79312e 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

.center.white-font.pt-26.bold {
    padding-top: 60px;
}

.margin-left-44{
  margin-left: 44.5%;
}

.button-meet-our-vets{
    padding: 17px 19px;
    border-style: none;
}

.length-40{
  width: 40%;
}

.column-review {
  float: left;
  width: 20%;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 25px;
}

.quotes{
  display: inline-block;
}

img.column-review{
  width: 10%;
}

.midle-width{
  width: 27%;
  margin-left:36.5%;
  margin-top: 55px;
}

.button-make-at-home{
  padding: 16px 16px;
  border-style: none;
  width: 20%;
  margin-left: 40%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container-review-zig-zag {
    position: relative;
    padding: 0px 0px 32px 0px;
    background-color: white;
}

.container-review-zig-zag:after {
    background: linear-gradient(-45deg, #f2f3f7 16px, transparent 0), linear-gradient(45deg, #f2f3f7 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

/* Have Questions Form */
.input-49{
  width: 49%;
  float: left;
}

.padding-right-2{
  padding-right: 2%;
}

.input-text-area{
  width: 94%;
}

.content-width{
  width: 33%;
  margin-left: 33%;
}

.padding-top-60{
  padding-top: 60px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.submit-button{
  padding: 14px 16px;
  border-style: none;
  width: 50%;
  margin-left: 25%;
  font-size: 14pt;
}

.font-24pt{
  font-size: 24pt;
}
.font-15pt{
  font-size: 15pt;
}
.font-14pt{
  font-size: 14pt;
}

/* ABout page */
.background-pet-pattern{
  float: left;
  width: 100%;
  background: transparent url("./img/about/pet_pattern.png") top left repeat;
}

.padding-about{
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 33pt;
  background: transparent url("./img/about/about-background.png") top left no-repeat;
  width: 20%;
  }

.container-pattern-zig-zag {
    position: relative;
    padding: 0px 0px 32px 0px;
    background-color: white;
}

.container-pattern-zig-zag:after {
    background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

.column-about {
    float: left;
    width: 62%;
    margin-top: 25px;
}
.column-shana-img {
    float: left;
    width: 35%;
    margin-top: 25px;
}

.length-25{
  width: 25%;
}

.shana-img{
  width: 99%
}

.B-float{
  float: left;
  width: 10%;
}

.padding-right-20{
  padding-right: 20px;
}

.width-54{
  width: 54%;
}

.container-grey-zig-zag {
    position: relative;
    padding: 0px 0px 32px 0px;
    background-color: #f2f3f7;
}

.container-grey-zig-zag:after {
    background: linear-gradient(-45deg, #f2f3f7 16px, transparent 0), linear-gradient(45deg, #f2f3f7 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 17px 44px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    height: 32px;
}

.margin-left-37{
  margin-left: 37.5%;
}

.width-25{
  width: 25%;
}

.margin-right-10px{
  margin-right: 10px;
}

/* Careers */

.background-three-dog{
  float: left;
  width: 100%;
  background: transparent url("./img/three-dogs.png") top left no-repeat;
}

.padding-career{
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 33pt;
  }

.margin-right-left{
  margin-left: 20%;
  margin-right: 20%;
}

.pt-20{
  font-size: 20pt;
}

.pt-14{
  font-size: 14pt;
}

.margin-20{
  margin: 20px;
}

.font-14{
  font-size: 14pt;
}
.font-9{
  font-size: 9pt;
}

.light-grey-font{
  color: #999999;
}


.button-apply-now-grey{
  background-color: #7e7e7e;
  padding: 16px 16px;
  border-style: none;

}
.button-apply-now-orange{
  background-color: #f08e30;
  padding: 16px 16px;
  border-style: none;
}

.column-job-name {
    float: left;
    width: 40%;
}
.column-button {
    float: right;
    width: 25%;
    margin-top: 8px;
}

.margin-top-80px{
  margin-top: 80px;
}

/*  Jobs */
.margin-top-120px{
  margin-top: 120px;
}

.linked-in-button{
  background-color: #3399cc;
  padding: 16px 16px;
  border-style: none;
}

.content-width-40{
  width: 40%;
  margin-left: 30%;
}

.margin-left-35{
  margin-left: 35%;
}

.input-text-area-91 {
    width: 91%;
}

/* Testimonials */

.background-cat{
  float: left;
  width: 100%;
  background: transparent url("./img/cat_background.png") top left no-repeat;
}

.pt-30{
  font-size: 30pt;
}

.margin-30{
  margin-left: 30%;
}

.width-22{
  width: 22%;
}

.margin-39{
  margin-left: 39%;
}

.background-bookings{
  float: left;
  width: 100%;
  background: transparent url("./img/booking_dog.png") top left no-repeat;
}

/* Vets Booking */

.styled-select select {
  background: transparent;
  background-image: none;
  width: 150px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
}
.styled-select {
    width: 300px;
    height: 35px;
    overflow: hidden;
    background: url(/Users/yuliya/bark-frontend/barkdoc-fronend/src/img/repeated/arrow_down_select.png) 96% / 20% no-repeat #eee;
}

.column-80 {
  float: left;
  width: 80%;
}
.column-20 {
  float: left;
  width: 20%;
}
